<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RACMVVMExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ABFF060C1C60AF9200E8312E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABFF06251C60AF9200E8312E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABFF06301C60AF9200E8312E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
